<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit A Shoe</title>
</head>

<body>

    <%- include('../partials/_navbar.ejs', { title: "Editing " + shoe.brand + " " + shoe.model }) %>

        <h1>Editing the <%= shoe.brand %> <%= shoe.model %></h1>
        
        <form action="/shoes/<%= shoe._id %>?_method=PUT" method="POST">
            <% if(typeof(message) !=="undefined" ) { %>
                <strong><em>
                        <p style="color: red;">
                            <%= message %>
                        </p>
                    </em></strong>
                <% } %>

                    <div>
                        <label for="model">Model:</label>
                        <input type="text" name="model" id="model" required value="<%= shoe.model %>" />
                    </div>

                    <div>
                        <label for="brand">Brand:</label>
                        <input type="text" name="brand" id="brand" required value="<%= shoe.brand %>" />
                    </div>

                    <div>
                        <label for="colorway">Colorway:</label>
                        <input type="text" name="colorway" id="colorway" required value="<%= shoe.colorway %>" />
                    </div>

                    <div>
                        <label for="retailPrice">Retail Price:</label>
                        <input type="number" name="retailPrice" id="retailPrice" required value="<%= shoe.retailPrice %>" />
                    </div>

                    <div>
                        <label for="size">Size:</label>
                        <input type="number" name="size" id="size" required value="<%= shoe.size %>" />
                    </div>

                    <div>
                        <label for="isDeadstock">Deadstock:</label>
                        <input type="checkbox" name="isDeadstock" id="isDeadstock" <% if (shoe.isDeadstock) { %>checked<% } %> />
                    </div>

                    <div>
                        <label for="imageUrl">Image URL:</label>
                        <input type="url" name="imageUrl" id="imageUrl" required value="<%= shoe.imageUrl %>" />
                    </div>

                    <div>
                        <label for="description">Description:</label>
                        <textarea name="description" id="description"
                            placeholder="Please enter a description of 100 characters or less." maxlength="100"
                            type="text" required><%= shoe.description %></textarea>
                    </div>

                    <button type="submit">Update Shoe</button>
        </form>

        <a class="shoes-index-link" href="/shoes">
            <div class="index-link-text">Back to Shoes</div>
        </a>

</body>

</html>