<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit A Shoe</title>
</head>

<body>

    <%- include('../partials/_navbar.ejs') %>

        <h1>Editing the <%= shoe.brand %> <%= shoe.name %></h1>
        
        <form action="/shoes/<%= shoe._id %>?_method=PUT" method="POST">
            <% if(typeof(message) !=="undefined" ) { %>
                <strong><em>
                        <p style="color: red;">
                            <%= message %>
                        </p>
                    </em></strong>
                <% } %>

                    <div>
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" required value="<%= shoe.name %>" />
                    </div>

                    <div>
                        <label for="brand">Brand:</label>
                        <input type="text" name="brand" id="brand" required value="<%= shoe.brand %>" />
                    </div>

                    <div>
                        <label for="price">Price:</label>
                        <input type="text" name="price" id="price" required value="<%= shoe.price %>" />
                    </div>

                    <div>
                        <label for="color">Color:</label>
                        <input type="text" name="color" id="color" required value="<%= shoe.color %>" />
                    </div>

                    <div>
                        <label for="size">Size:</label>
                        <input type="text" name="size" id="size" required value="<%= shoe.size %>" />
                    </div>

                    <div>
                        <label for="description">Description:</label>
                        <textarea name="description" id="description"
                            placeholder="Please enter a description of 100 characters or less." maxlength="100"
                            type="text" required><%= shoe.description %></textarea>
                    </div>

                    <button type="submit">Update Shoe</button>
        </form>

        <a class="shoes-index-link" href="/shoes">
            <div class="index-link-text">Back to Shoes</div>
        </a>

</body>

</html>