<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Shoes</title>
</head>
<body>
    
    <%- include('../partials/_navbar.ejs') %>

    <h1>All Shoes</h1>

    <% if (shoes.length === 0) { %>
        <p>No shoes added yet.</p>
    <% } else { %>
        <ul>
            <% shoes.forEach((shoe) => { %>
                <li>
                    <a class="shoe-card" href="/shoes/<%= shoe._id %>"><%= shoe.brand %> <%= shoe.name %> - 
                        $<%= shoe.price %></a>
                </li>
            <% }) %>
        </ul>
    <% } %>

    <button onclick="window.history.back()">Go Back</button>
</body>
</html>
