<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete</title>
</head>

<body>

    <%- include('../partials/_navbar.ejs', { title: "Delete " + shoe.brand + " " + shoe.model }) %>

    <h1>Confirm Delete</h1>

    <p>Are you sure you want to delete the <%= shoe.brand %> <%= shoe.model %>?</p>

    <form action="/shoes/<%= shoe._id %>?_method=DELETE" method="POST">
        <button type="submit">Yes, Delete <%= shoe.name %></button>
    </form>

    <a href="/shoes/<%= shoe._id %>/">
        <button>Cancel</button>
    </a>

</body>

</html>
