<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= shoe.brand %> <%= shoe.model %>
    </title>
</head>
<body>

    <%- include('../partials/_navbar.ejs', { title: shoe.brand + " " + shoe.model }) %>
    
        <h1>The <%= shoe.brand %> <%= shoe.model %> Page</h1>
        <p>Model: <%= shoe.model %></p>
        <p>Brand: <%= shoe.brand %></p>
        <p>Price: $<%= shoe.retailPrice %></p>
        <p>Color: <%= shoe.colorway %></p>
        <p>Size: <%= shoe.size %></p>
        <p>Description: <%= shoe.description %></p>
        <p><img src="<%= shoe.imageUrl %>" alt="Shoe Image" width="400" height=auto></p>

        <div class="shoe-actions">
            <a class="edit-link" href="/shoes/<%= shoe._id %>/edit">
                <button class="edit-text">Edit <%= shoe.brand %> <%= shoe.model %></button>
            </a>

            <a href="/shoes/<%= shoe._id %>/confirm_delete">
                <button type="submit"> Delete <%= shoe.brand %> <%= shoe.model %></button>
            </a>

            <a class="shoes-index-link" href="/shoes">
                <div class="index-link-text">Back to Vault</div>
            </a>
        </div>

</body>
</html>